ul{
    height: 400px;
}
.MuiList-root.MuiList-padding.css-1d974t7-MuiList-root {
    height: 400px; /* Set your desired height value */
  }
/* .MuiGrid-root.MuiGrid-container.css-11lq3yg-MuiGrid-root{
    display: block;
    width: 0;
  } */